.nav-link {
    width: 25px;
    margin: 14px 25px;
}
.lft {
    float: left;
}
.headContainer {
    margin: auto;
    max-width: 1000px;
}
input {
    width: 440px;
    margin: 10px 20px;
    padding: 8px 14px;
    background-color: rgb(16, 23, 30);
    border-radius: 25px;
    border: 0px;
}
.more {
    width: 25px;
    margin: 14px 25px;
}
.header {
    background-color: rgb(28, 41, 56);
    height: 54px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
}
body {
    background-color: rgb(16, 23, 30);
}